*{
	box-sizing: border-box;
}
body{
	font-size: 14px;
	overflow-x: hidden
}

header>.b{
	border-bottom: 1px solid;
	box-shadow: 0px 10px 5px #888888;
}
header nav .logo{
	margin: 20px 0;
}
header nav ul{
	margin-top: 12px;
}
header nav ul li{
	float: left;
	padding: 10px 18.5px;
	font-weight: bold;
}
header nav li:hover{
	color: #ed0000;
	border-bottom: solid #ED0000;
}

header nav li.lange{
	background:#dddddd;
	margin-left: 200px;
}
header nav li.lange:hover{
	color: #000;
	/*border-bottom: solid #000;*/
}
header banner,img{
	width: 100%;
}
main .search{
	padding: 10px 0;
	background: #f5f5f5;
	text-align: center;
}

main .search .search-box{
	width: 330px;
	height: 34px;
	background: url(../img/search_bg.png);	
	margin-right: 110px;
}
main .search .fl.p{
	margin-top: 6px;
	margin-left: 110px;
}
main .product{
	text-align: center;
}
main .product h1{
	display: inline-block;
	border-color: #444444;
	font-size: 30px;
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 20px;
}
main .product .line{
	height: 3px;
	/*background: url(../img/title_line.png);*/
	/*background-position: -313px;*/
	background-repeat: no-repeat;
	margin-bottom: 50px;
}
main .product-nav{
	text-align: center;
	margin-bottom: 50px;
}
main .product-nav li{
	display: inline-block;
	font-size: 14px;
	color: #666666;
	margin: 0 25px;
	padding: 5px 20px;
	border: 1px solid transparent;
	
}
main .product-nav li:hover{
	border: 1px solid #ed0000;
	border-radius: 3px;
	color: #ed0000;
}
main .container{
	margin-bottom: 30px;
}
main .container .box{
	width: calc(50% - 10px);
	/*border: solid 1px;*/
}
main .container .box .content:nth-child(1){
	margin-bottom: 15px;
}
main .container .box.fl{
	margin-right: 10px;
}
main .container .box.fl img{
	width: 100%;
}
main .container .box.fr .box-item{
	width: calc(50% - 15px);
	float: left;
	margin-right: 15px;
}
main .container-2{
	position: relative;
	margin-bottom: 220px;
} 
main .container-2 .absolu{
	position: absolute;
	top: 134px;
	left: 50%;
	margin-left: -600px;
}
main .container-2 h1{
	position: absolute;
	top: 60px;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 30px;
	font-weight: bold;
	color: #fff;
}
.container-3{
	text-align: center;
}
.container-3 h1{
	color: #000;
	font-weight: bold;
	font-size: 30px;
	
}
.container-3 .banner{
	height: 500px;
	background: pink;
}
.container-3 >.w{
	line-height: 2;
}
.container-4{
	background: url(../img/banner_anli.jpg);
	height: 400px;
	margin: 60px 0;
	padding-top: 40px;
}
.container-4 h1{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: #fff;
}
.container-4 img{
	margin: 0 25px;
	width: 20%;
	display: inline-block;
}
.container-4 .w{
	text-align: center;
	margin-top: 70px;
	
}
